# This is Git's per-user configuration file.
[user]
    name = kreemer
    email = kevin@familie-studer.ch
    signinkey = C22D8700427424E9
[init]
    defaultBranch = main
{{ if (not .container) -}}
[credential "https://github.com"]
    helper = 
    helper = !gh auth git-credential
[credential "https://gist.github.com"]
    helper = 
    helper = !gh auth git-credential
[credential "https://github.unibe.ch"]
    helper =
    helper = !/opt/homebrew/bin/gh auth git-credential
{{ end }}

[commit]
    gpgsign = true
[tag]
    gpgSign = true
