# This is Git's per-user configuration file.
[user]
    name = kreemer
    email = kevin@familie-studer.ch
    signinkey = DEF34A9EDC079E7FDBAE6199C22D8700427424E9! 
[init]
    defaultBranch = main
{{ if (or (not .container) (.devcon)) -}}
[credential "https://github.com"]
    helper = 
    helper = !gh auth git-credential
[credential "https://gist.github.com"]
    helper = 
    helper = !gh auth git-credential
[credential "https://github.unibe.ch"]
    helper =
    helper = !gh auth git-credential
{{ end }}

[commit]
    gpgsign = true
[tag]
    gpgSign = true
[core]
    excludesFile = ~/.gitignore
