{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash

{{ if (and (not .codespaces) (not .devpod)) }}

# Default editor
sudo snap install --classic helix

# Default programs
sudo apt install -y zsh git bat

# GitHub CLI
(type -p wget >/dev/null || (sudo apt update && sudo apt-get install wget -y)) \
	&& sudo mkdir -p -m 755 /etc/apt/keyrings \
	&& wget -qO- https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null \
	&& sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg \
	&& echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null \
	&& sudo apt update \
	&& sudo apt install gh -y


# eza
sudo apt install -y gpg
sudo mkdir -p /etc/apt/keyrings
wget -qO- https://raw.githubusercontent.com/eza-community/eza/main/deb.asc | sudo gpg --dearmor -o /etc/apt/keyrings/gierens.gpg
echo "deb [signed-by=/etc/apt/keyrings/gierens.gpg] http://deb.gierens.de stable main" | sudo tee /etc/apt/sources.list.d/gierens.list
sudo chmod 644 /etc/apt/keyrings/gierens.gpg /etc/apt/sources.list.d/gierens.list
sudo apt update
sudo apt install -y eza

# i3 + polybar


{{ end }}

# oh-my-zsh
if [ ! -d $HOME/.oh-my-zsh ]; then
	sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi 


{{ if .devpod }}
if ! hx -V &> /dev/null ; then
	  sudo apt-get update && sudo apt-get -y install --no-install-recommends jq curl tar xz-utils ca-certificates libc6

    if [[ "$VERSION" == "latest" || -z "$VERSION" ]]; then
      echo "Fetching latest version..."
      VERSION=$(curl -s -L -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/repos/helix-editor/helix/releases/latest | jq -r .tag_name )
    fi

    ARCHITECTURE=$(uname -m | sed 's/^arm64$/aarch64/')
    IDENTIFIER="helix-${VERSION}-${ARCHITECTURE}-linux"
    IDENTIFIER_ARCHIVE="${IDENTIFIER}.tar.xz"

    DOWNLOAD_URL=$(curl -s -L -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" "https://api.github.com/repos/helix-editor/helix/releases/tags/${VERSION}" | \
       jq -r '.assets | map(select(.name=="'"$IDENTIFIER_ARCHIVE"'"))[0].browser_download_url')


    if [ -z "$DOWNLOAD_URL" ]; then
        echo "Error: Unable to find download URL for $IDENTIFIER and version $VERSION"
        exit 1
    fi
    
    echo "Downloading helix from: ${DOWNLOAD_URL}"

    curl -s -L -o "/tmp/${IDENTIFIER_ARCHIVE}" "${DOWNLOAD_URL}"
    tar --xz -xf "/tmp/${IDENTIFIER_ARCHIVE}" -C /tmp
    sudo mv "/tmp/${IDENTIFIER}" /opt/helix
    sudo ln -s /opt/helix/hx /usr/local/bin/hx

    rm -f "/tmp/${IDENTIFIER_ARCHIVE}"
fi
{{ end }}

{{ end }}
