{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
gpg --recv-key 3FEF9748469ADBE15DA7CA80AC2D62742012EA22

pamac build 1password 
pamac build 1password-cli
{{ else if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
brew install -q 1password \
    1password-cli
{{ end -}}
