{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash


brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/services"
brew "chezmoi"
brew "azure-cli"
brew "bat"
brew "colima"
brew "docker"
brew "docker-buildx"
brew "gh"
brew "git"
brew "git-lfs"
brew "helix"
brew "jq"
brew "eza"
brew "fzf"
cask "displaylink"
cask "microsoft-teams"
cask "signal"
cask "visual-studio-code"
EOF

{{ end -}}
