#!/usr/bin/env fish
{{ if eq .chezmoi.os "linux" -}}

{{ else if eq .chezmoi.os "darwin" -}}

fisher install jomik/fish-gruvbox
fisher install jorgebucaran/hydro
fisher install dracula/fish


{{ end -}}
