#!/usr/bin/env fish
{{ if eq .chezmoi.os "linux" -}}
sudo pamac install --no-confirm tmux
{{ else if eq .chezmoi.os "darwin" -}}
brew install -q tmux reattach-to-user-namespace xwmx/taps/pb fpp
{{ end -}}

fisher install budimanjojo/tmux.fish

rm -Rf ~/.config/tmux/plugins/tpm
git clone https://github.com/tmux-plugins/tpm ~/.config/tmux/plugins/tpm


