{{- if eq .chezmoi.os "darwin" -}}
#!bin/bash

echo "test"

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/services"
brew "azure-cli"
brew "bat"
brew "colima"
brew "docker"
brew "docker-buildx"
brew "gh"
brew "git"
brew "git-lfs"
brew "helix"
brew "jq"
cask "enpass"
cask "font-cascadia-code-pl"
cask "forticlient"
cask "forticlient-vpn"
cask "microsoft-teams"
cask "microsoft-office"
cask "signal"
cask "visual-studio-code"
cask "warp"
vscode "dracula-theme.theme-dracula"
vscode "github.codespaces"
vscode "github.vscode-github-actions"
vscode "ms-vscode-remote.remote-containers"
vscode "ms-vscode-remote.remote-ssh"
vscode "ms-vscode-remote.remote-ssh-edit"
vscode "ms-vscode.remote-explorer"
vscode "pkief.material-product-icons"
vscode "rangav.vscode-thunder-client"
EOF

{{ end -}}
